/* Specials and Contact form*/
html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}
#map {
    float: center;
    height: 450px;
    width: 100%; 
    color: black; 
    border-radius: 15px;
    background-color: #cccccc;
    border: 1px;
    box-shadow: 4px 4px 4px 3px rgba(0,0,0,.5);
    background-image: linear-gradient(top right, #cccccc, #ffffff 50%);
    /* Browser Specific tags */
    background-image: -webkit-linear-gradient(top right, #cccccc, #ffffff 170%);
    background-image: -moz-linear-gradient(top right, #cccccc, #ffffff 170%); 
    background-image: -o-linear-gradient(top right, #cccccc, #ffffff 170%);
    background-image: -ms-linear-gradient(top right, #cccccc, #ffffff 170%);
    -moz-box-shadow: 4px 4px 4px 3px rgba(0,0,0,.5);
    -moz-border-radius: 15px;
}

.sidebar {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    min-height: 10vh;
    overflow: auto;
}
.navbar-collapse.collapse.show {
    max-height: 100px;
    overflow-y: auto;
}

.overflow {
    overflow: auto;
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}